mat-list-item {
    font-weight: 700;
}

/* Strikethrough */

.taskLabel {
	position: relative;

	&:after {
		content: '';
		
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		box-shadow: 0 1px rgba(255,255,255,0.6);
		margin-top: -0.7em;
		background: black;
		transform-origin: center left;
		// animation: strikethrough 1s 0s cubic-bezier(.55, 0, .1, 1) 1;
		// transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
		transition-duration: 0.5s;
		transform: scaleX(0);
	}
}

.taskLabel.done {
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
	
	&:after {	
		transform: scaleX(1);
	}
}

#addTask {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
