<mat-list>

    <div *ngFor="let periode of tasks |keyvalue ; let last = last">
        <h3 mat-subheader>{{ periode.key.format('LL') }}</h3>
        <mat-list-item *ngFor="let task of periode.value">
                <mat-checkbox [(ngModel)]="task.done" class="spacer" (change)="save()">
                    <span class="taskLabel" [ngClass]="{ done: task.done }">
                        {{ task.title }}
                    </span>
                </mat-checkbox>
                <mat-chip-list *ngIf="task.priority">
                    <mat-chip class="priority" [ngClass]="PRIORITY[task.priority]">{{ PRIORITY[task.priority] }}</mat-chip>
                </mat-chip-list>
                <button mat-icon-button [routerLink]="['/edit', task.id]">
                    <mat-icon>edit</mat-icon>
                </button>
        </mat-list-item>

        <mat-divider *ngIf="!last"></mat-divider>
    </div>

</mat-list>

<button mat-fab id="addTask" [routerLink]="['/new']">
    <mat-icon>add</mat-icon>
</button>
