<mat-dialog-content>
    <mat-form-field>
        <mat-label>Titre</mat-label>
        <input type="text" id="title" matInput placeholder="Acheter des sushis ..." [(ngModel)]="task.title">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Priorité" [(ngModel)]="task.priority">
            <mat-select-trigger>
                <mat-chip-list>
                    <mat-chip class="priority" [ngClass]="PRIORITY[task.priority]">
                        {{ PRIORITY[task.priority] }}
                    </mat-chip>
                </mat-chip-list>                
            </mat-select-trigger>

            <mat-option *ngFor="let priority of PRIORITY | keyvalue" [value]="priority.key">
                <mat-chip-list>
                    <mat-chip class="priority" [ngClass]="priority.value">
                        {{ priority.value }}
                    </mat-chip>
                </mat-chip-list>
            </mat-option>
            <!-- <mat-option [value]="2">
                Moyenne
            </mat-option>
            <mat-option [value]="3">
                Basse
            </mat-option> -->
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date maximum" [(ngModel)]="task.dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Notes</mat-label>
        <textarea matInput cdkTextareaAutosize [(ngModel)]="task.notes"></textarea>
    </mat-form-field>

    <div id="deleteContainer" *ngIf="originalTask">
        <button mat-button color="warn" (click)="delete()">Supprimer</button>
    </div>
</mat-dialog-content>

<mat-dialog-actions color="primary">
    <button mat-raised-button matDialogClose>Annuler</button>
    <button mat-raised-button (click)="save()" color="primary">Sauvegarder</button>
</mat-dialog-actions>